* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c1014;
    color: white;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}